#wrapper {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #495057;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    border: 1px solid #dee2e6;
}

h1 {
    margin-bottom: 20px;
    color: #343a40;
    font-size: 26px;
    font-weight: 600;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

label {
    font-size: 15px;
    color: #6c757d;
    font-weight: 500;
    margin-right: 0px;
    /* 添加右边距 */
    flex: 0.4;
    /* 使标签占据一定空间 */
}

select,
input[type="text"],
input[type="file"] {
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    flex: 2;
    /* 使输入框占据更多空间 */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s,
        transform 0.2s,
        box-shadow 0.2s;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #004085;
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.button-green {
    background-color: #28a745;
    /* 绿色 */
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s,
        transform 0.2s,
        box-shadow 0.2s;
}

.button-green:hover {
    background-color: #218838;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-green:active {
    background-color: #1e7e34;
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

